.final_log {
    height: 100%;
    width: 100%;
}

.right_log {
    position: absolute;
    top: 16.5%;
    left: 10%;
    height: 78%;
    width: 78%;
    border: 2px solid white;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.3);
    display: flex;
}

/* image */

.right_form {
    flex: 65%;
    margin-top: 8%;
    font-family: "regular";
    font-size: 2.5rem;
}

.right_form h1 {
    text-align: center;
    justify-content: center;
    font-family: "bold";
    font-size: 5rem;
}

.form_content {
    position: relative;
    left: 15%;
    margin-top: 2%;
}

label {
    font-size: 3.4rem;
}

.log_user,
.log_pass,
label {
    margin-top: 1%;
}

.log_user,
.log_pass {
    padding-left: 8%;
    border: none;
    outline: none;
    background: #f4f4f4;
    width: 70%;
    height: 6rem;
    font-size: 3rem;
}

.log_wrapper {
    display: flex;
    position: relative;
    margin-bottom: -1vw;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .left {
        height: 7vw;
    }

    .proImg {
        width: 17vw;
        height: auto;
        margin-left: 2vw;
    }

    .right {
        margin-right: 9vw;
    }

    .newConta {
        max-width: 100%;
        height: auto;
        padding: 4%;
    }

    .solgan {
        font-family: "bold";
        font-size: 3vw;
    }
}

@media screen and (min-width: 1025px) {

    .border_logo_log {
        width: 15vw;
        margin-left: 3.2vw;
        margin-top: 5rem;
        display: flex;
    }

    
    .left_logo h1{
        position: absolute;
        margin-top: -2.2vw;
        font-size: 4vw;
        margin-left: 2.15vw;
        padding-bottom: 10rem;
        font-family: "bold";
        color: transparent;
        -webkit-text-stroke: 1.5px white;
        text-shadow: none;
    }
    
    .left_logo h5{
        font-size: 1.5vw;
        margin-left: 1.5rem;
        font-family: "regular";
        color: white;
        text-align: center;
        margin-left: 2.5vw;
        margin-top: 0.6vw;
    }
    .left_log {
        width: 33vw;
        height: auto;
        padding-top: 80vw;
        background-color: #3e7f91;
        overflow-y: hidden;
    }

    .left_logo {
        position: relative;
    }

    .login {
        font-family: "bold";
        text-align: center;
        font-size: 3.5vw;
        margin-top: -1vw;
    }

    .FaUser {
        width: 1.6vw;
    }

    .RiLockPasswordFill {
        width: 2.2vw;
    }

    .log_user{
        width: 38vw;
        height: 4vw;
        background-image: url('../img/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.png');
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 16px;
        background-size: 2.5vw 2.5vw;
        background-position: left;
        background-position-x: 1.7vw;
    }

    .log_pass{
        width: 38vw;
        height: 4vw;
        background-image: url('../img/password-icon-protection-illustration-sign-security-symbol-or-logo-vector.png');
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 16px;
        background-size: 2.8vw 2.8vw;
        background-position: left;
        background-position-x: 1.4vw;
    }

    .form_content {
        top: -1vw;
    }

    .right_log {
        height: 46vw;
    }

    .button_log {
        height: auto;
        width: 14vw;
        border: none;
        background-color: #3e7f91;
        color: white;
        font-family: "medium";
        font-size: 2.2vw;
        border-radius: 5px;
        position: relative;
        left: 13vw;
        bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .forgot {
        font-family: "regular";
        color: black;
        left: 0;
        margin-top: 1rem;
        font-size: 1.4vw;
    }
}